<div class="map-comp">  
  <h1>VSADA Store Locations</h1>
  <sebm-google-map  
      [latitude]="33.406286" 
      [longitude]="-111.876038" 
      [zoom]="zoom"
      [scrollwheel]="false" 
      [mapDraggable]="true">
    <sebm-google-map-marker 
      *ngFor="let store of stores"
      [title]="store.title[0].value"
      [zIndex]="store.z?store.z:0"
      [latitude]="convertToInt(store.field_maplat[0].value)" 
      [longitude]="convertToInt(store.field_maplng[0].value)"
      (markerClick)="markClick(store)">
    </sebm-google-map-marker>
  </sebm-google-map>
</div>
