<div *ngIf="!store.id">
  Loading...
</div>
<div *ngIf="store.id" class="store-detail">

  <a class="back-button" [routerLink]="['/']">
    <i class="fa fa-chevron-circle-left fa-4x" aria-hidden="true"></i>
  </a>

  <swiper class="gallery" [config]="config">
    <div class="swiper-wrapper">
      <img class="swiper-slide" [src]="store.hero">
      <img class="swiper-slide" *ngFor="let pic of store.pics" [src]="pic">
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </swiper>

  <div class="card">
    <h3 class="store-name text-uppercase">{{store.name}}</h3>
    <p class="description" [innerHTML]="store.description">
      <a href="/detailLink">more</a>
    </p>
    <hr>
    <h5 *ngIf="store.contact.site">
      <a href="{{store.contact.site}}" target="_blank">
        <i class="fa fa-external-link fa-lg contact-icon" aria-hidden="true"></i>
        {{store.contact.site | slice : 7}}
      </a>
    </h5>
    <h5 *ngIf="store.contact.email">
      <a href="mailto:{{store.contact.email}}">
        <i class="fa fa-envelope fa-lg contact-icon" aria-hidden="true"></i>    
        {{store.contact.email}}
      </a>
    </h5>
    <h5 *ngIf="store.contact.phone">
      <a href="tel:{{store.contact.phone}}">
        <i class="fa fa-phone fa-lg contact-icon" aria-hidden="true"></i>
        {{store.contact.phone}}
      </a>
    </h5>
    <br>
    <h4 *ngFor="let address of store.address" [innerHTML]="address"></h4>
    <sebm-google-map  
    [latitude]="store.map.lat" 
    [longitude]="store.map.lng" 
    [zoom]="zoom" 
    [scrollwheel]="false" 
    [mapDraggable]="false"
    (mapClick)="getMap(store.address[0])">
    <sebm-google-map-marker
    [latitude]="store.map.lat" 
    [longitude]="store.map.lng">
  </sebm-google-map-marker>
</sebm-google-map>
<div class="social">
  <a *ngIf="store.social.facebook" href="{{store.social.facebook}}" target="_blank">
    <i class="fa fa-facebook fa-4x social-icon" aria-hidden="true"></i>
  </a>
  <a *ngIf="store.social.twitter" href="{{store.social.twitter}}" target="_blank">
    <i class="fa fa-twitter fa-4x social-icon" aria-hidden="true"></i>
  </a>
  <a *ngIf="store.social.instagram" href="{{store.social.instagram}}" target="_blank">
    <i class="fa fa-instagram fa-4x social-icon" aria-hidden="true"></i>
  </a>
  <a *ngIf="store.social.pinterest" href="{{store.social.pinterest}}" target="_blank">
    <i class="fa fa-pinterest fa-4x social-icon" aria-hidden="true"></i>
  </a>
</div>   
</div>
<hr>
<div>
  <h4>Other stores in this region:</h4>
  <ul>
    <li *ngFor="let close of stores | storeFilter : '' : store.region: false">
      <a [routerLink]="['/store', close.id]">  
        {{close.name}}
      </a>
    </li>
  </ul>
</div>
<div class="footer"></div>
</div>